body {
    font-family: Arial, sans-serif;
    background-color: #e6f7e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  .logo {
    width: 50%; 
    margin-bottom: 20px;
  }
  
  h1 {
    color: #28a745;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #218838;
  }
  
  #result {
    margin-top: 20px;
  }
  
  #result h2 {
    color: #155724;
  }
  
  #zakatAmount {
    font-size: 1.5em;
    color: #155724;
  }
  